@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="width1190">
        <div class="contleft">
            <ul class="leftNav">
                <li><a href="~/About/Index">关于我们</a></li>
                <li class="leftNavCur"><a href="~/Contact/Index">联系我们</a></li>
            </ul><!--leftNav/-->
        </div><!--contleft/-->
        <div class="contright">
            <h2 class="rightat">联系我们</h2>
            <div class="about">
                <img src="~/assets/images/about.jpg" /><br />
            </div>
        </div><!--contright/-->
        <div class="clears"></div>
    </div><!--width1190/-->
</div><!--content/-->
