@{
    ViewBag.Title = "Reg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="width1190">
        <div class="reg-logo">
            <form id="signupForm" method="post" action="~/User/Reg" class="zcform">
                <p class="clearfix">
                    <label class="one" for="agent">用户名：</label>
                    <input id="agent" name="username" type="text" class="required" value placeholder="请输入您的用户名" />
                </p>

                <p class="clearfix">
                    <label class="one" for="agent">姓名：</label>
                    <input id="agent" name="name" type="text" class="required" value placeholder="请输入您的姓名" />
                </p>

                <p class="clearfix">
                    <label class="one" for="agent">手机号：</label>
                    <input id="agent" name="phone" type="text" class="required" value placeholder="请输入您的手机号" />
                </p>

                <p class="clearfix">
                    <label class="one" for="agent">性别：</label>
                    <input id="agent" name="sex" type="text" class="required" value placeholder="请输入您的性别" />
                </p>

                <p class="clearfix">
                    <label class="one" for="password">登录密码：</label>
                    <input id="password" name="password" type="password" class="{required:true,rangelength:[8,20],}" value placeholder="请输入密码" />
                </p>
                <p class="clearfix">
                    <label class="one" for="confirm_password">确认密码：</label>
                    <input id="confirm_password" name="confirm_password" type="password" class="{required:true,equalTo:'#password'}" value placeholder="请再次输入密码" />
                </p>
                <!--<p class="clearfix agreement">
                    <input type="checkbox" />
                    <b class="left">已阅读并同意<a href="#">《用户协议》</a></b>
                </p>-->
                <p class="clearfix"><input class="submit" type="submit" value="立即注册" /></p>
            </form>
            <div class="reg-logo-right">
                <h3>如果您已有账号，请</h3>
                <a href="~/User/Login" class="logo-a">立即登录</a>
            </div><!--reg-logo-right/-->
            <div class="clears"></div>
        </div><!--reg-logo/-->
    </div><!--width1190/-->
</div><!--content/-->
